// Text colors
$heading: hsl(238, 29%, 16%);
$paragraph: hsl(240, 6%, 50%);
$inactive-heading: hsl(237, 12%, 33%);
$hover: hsl(14, 88%, 65%);

// Layout colors
$arrow: hsl(14, 88%, 65%);
$divider: hsl(240, 5%, 91%);
