@use "../custom" as c;
@use "../base/typography" as t;

body {
  margin: 2.5em 0 0 0;
  padding: 0;
  background-image: linear-gradient(c.$purple, (c.$indigo));
  background-repeat: no-repeat;
  font-size: t.$size-font;
  font-family: t.$font;
}

//   // @media (min-width: b.$large) {
//   //   font-size: 2.5em;
//   // }
// }
